In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
df=pd.read_csv("/kaggle/input/titanic/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.drop(['Name','PassengerId','SibSp','Parch','Ticket','Cabin','Embarked'],axis=1,inplace=True)

In [4]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [5]:
target=  df.Survived
inputs=df.drop(['Survived'],axis=1)

In [6]:
dummies=pd.get_dummies(inputs.Sex,dtype=int)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [7]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [8]:
inputs.drop(['Sex'],axis=1,inplace=True)

In [9]:
inputs.head(2)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0

In [10]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [11]:

mean=inputs.Age.mean()
inputs=inputs.fillna(mean)

In [12]:
inputs.Age.isna().sum()

0

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [14]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [15]:
model.fit(X_train,y_train)

GaussianNB()

In [16]:
model.score(X_test,y_test)

0.8100558659217877

In [17]:
X_test.head()

     Pclass   Age     Fare  female  male
588       3  22.0    8.050       0     1
657       3  32.0   15.500       1     0
307       1  17.0  108.900       1     0
328       3  31.0   20.525       1     0
583       1  36.0   40.125       0     1

In [18]:
y_test[:10]

588    0
657    0
307    1
328    1
583    0
741    0
89     0
2      1
537    1
795    0
Name: Survived, dtype: int64

In [19]:
model.predict(X_test[:10])

array([0, 1, 1, 1, 0, 0, 0, 1, 1, 0])

In [20]:
model.predict_proba(X_test[:10])

array([[9.86265869e-01, 1.37341313e-02],
       [6.30605829e-02, 9.36939417e-01],
       [3.14692357e-04, 9.99685308e-01],
       [6.15803978e-02, 9.38419602e-01],
       [8.92638764e-01, 1.07361236e-01],
       [7.16699306e-01, 2.83300694e-01],
       [9.86760098e-01, 1.32399019e-02],
       [5.88516572e-02, 9.41148343e-01],
       [4.63895783e-04, 9.99536104e-01],
       [9.74868085e-01, 2.51319152e-02]])